*{
    font-family: Sofia Pro;
}
/* navbar */

.navbar-brand{
    margin-left:8%;
}


#signup{
background-color: red;
border-radius: 15px;
}

#SignUp{
    margin-top:8px;
}

/* .navbar{
   
    flex-wrap: wrap;
} */


.white{
    border-right:1px solid white; 
    line-height: 22px;
}  

#navbar-color{
    background-color: #1E1E1E;
}

/*navbar ends*/

/* 2nd head */

#second-header{
    background-color: #000000;
}
.first-page-header{
    /* margin-top: 20px; */
    text-align: center;
}

/* search box */
#mySearch{
    width:100%;
    height:100%;
    border-radius:20px;
}
#search-button{
    width:100%;
    height:100%;
    border-radius:20px;
    background-color: red;;
}
input[type="search"]::placeholder {
   /* background-image:url("assets/1/Icon\ ionic-ios-search.svg"); */
   background-repeat: no-repeat;
   display: inline-grid;
  justify-items: center;
  margin-left:20px;
  /* text-align: center; */
  }
/* search box */



/* banner */
/* mobile view */
@media only screen and (max-width: 600px) 
{
      #banner-image{
        max-width: 100%;
        height:100%;
        object-fit: cover;
        position: relative;
    }

    #get-offer{
        position: absolute;
    top:80px;
    left:50px;
    width:10%;
    }

    #twenty-five{
        position: absolute;
        top:100px;
        left:70px;
        width:15%;
    }

    #extra{
        position: absolute;
        top:130px;
        left:100px; 
        width:15%;
    }
    #image-text{
        position: absolute;
        bottom: 32px;
        right: 65px;
        color:#FFFFFF;
    }

    /* dropdown button */
    #dropdown-button{
        width:67%;
        height:auto;
        border-radius: 15px;
        padding:15px;
        margin-left:25px;
    }
    #firstName,#lastName{
        margin-top:5px;
        width:67%;
        height:auto;
        border-radius: 15px;
        margin-left: 25px;
        padding:15px;
    }
    #middleName, #Cancel{
        width:67%;
        height:auto;
        border-radius: 15px;
        margin-left: 25px;
        padding:15px;
    }
    #mailId,#phoneNo{
        width:73%;
        height:auto;
        border-radius: 45px;
        margin-left: 10%;
        padding:18px;
        
    }
    #phoneNo{
        width:73%;
        height:auto;
        border-radius: 45px;
        margin-left: 10%;
        padding:18px;
        
    }
    #password1,#password2{
        width:82%;
        height:auto;
        border-radius: 25px;
        margin-left: 13%;
        padding:15px;
    }
    #eye-icon{
        width:82%;
        height:auto;
        border-radius: 25px;
        margin-left: -33px;
        padding:15px;   
    }
     #togglePassword{
        margin-left: -10px;
    } 
    #signUp{
        background-color: #FE3030;
        margin-top:5px;
        width:67%;
        height:auto;
        border-radius: 15px;
        margin-left: 25px;
        padding:15px;
    }
    #modal-verify{
        border-radius: 25px;
        margin-left:148px;
        width:31%;
        height:auto;
    }
    #modal-verify1{
        border-radius: 25px;
        margin-left:148px;
        width:31%;
        height:auto;
    }
    #forgot{
        margin-left:247px;
    }
    #no-account{
        margin-left:225px; 
        color: #323232;
    }
  
    #modal-Guest{
        border:1px solid #FE3030;
        color:#FE3030;
        border-radius: 25px;
        width:91%;
        height:auto;
        margin-left:27px;
        }
        #modal-Guest1{
            border:1px solid #FE3030;
            color:#FE3030;
            border-radius: 25px;
            width:91%;
            height:auto;
            margin-left:27px;
            }
        #modal-verify{
            border-radius: 25px;
            width:71%;
            height:auto;
            margin-left:72px;
        }
        #sign{
            margin-left:322px;
            text-decoration: none;
        }
        #sign1{
            margin-left:322px;
            text-decoration: none;
        }
        #shop-now-btn{
            background-color: #FE3030;
            margin-top:5px;
            width:67%;
            height:auto;
            border-radius: 15px;
            margin-left: 25px;
            padding:15px;
        }
        #shop-now-btn1{
            background-color: #FE3030;
            margin-top:5px;
            width:67%;
            height:auto;
            border-radius: 15px;
            margin-left: 25px;
            padding:15px;
        }
        #add-to-bag-btn{
            width:67%;
            height:auto;
            border-radius: 15px;
            margin-left: 25px;
            padding:15px;
        }
        #add-to-bag-btn1{
            width:67%;
            height:auto;
            border-radius: 15px;
            margin-left: 25px;
            padding:15px;
        }
        #charlie{
            margin-top:10px;
            width:14%;
            height:auto;
            }
            #cart{
                /* margin-right:10px;         */
                margin-top:5px;
                margin-left:4px;
                }
             .cart-svg{
                 margin-right: 208px;
             }   
             #delete{
                border-radius: 20px;
                background-color: transparent;
            }
            #save-for-later{
                /* margin-left: -8px; */
                margin-top: 5px;
                border-radius: 20px;
                background-color: transparent;
            }
            #quantity{
                margin-top:5px;
                margin-left:70px;
            }
            #Cart-Button{
                margin-top: -15px;
                margin-left:77px;
            }
            #Cart-Button1{
                margin-top: -15px;
                margin-left:77px;
            }
            .shopping-card{
                width: 5rem;
                height:auto;
            }
            #modal-id1{
                border-radius: 25px;
                color: #323232;
                opacity: 80%;
                margin-left:0px;
                /* width:40%;
                height:auto; */
            }
            #forgot1{
                margin-left:233px;
            }
            #modal-login1{
                border-radius: 25px;
                width:100%;
                height:auto;
                margin-left:4px;
            } 
             #no-account1{
                margin-left:179px; 
            }
            #sign1{
                margin-left:260px;
                text-decoration: none;
            }
            #Sandra-Rose{
                margin-top:38px;
                margin-left:3px;
            }
            .zero-seven{
                font-size: 13px;
                margin-top:60px;
                margin-left:10px;
            }
            #another-payment-method{
                margin-left:-121px;
            }
            #expires-on{
                font-size: 17px;
               padding: 8px;
            }
            #enter-number{
                border-radius: 15px;
                width:auto;
                height:auto;
                margin-left:0px;
            }
            #enter-number2{
                border-radius: 15px;
                width:auto;
                height:auto;
                margin-left:0px;
            }
            #enter-name{
                border-radius: 15px;
                width:auto;
                height:auto;
                margin-left:0px;
            }
            #first-radio{
                margin-left:-16px;
            }
            #visa-img{
                margin-left: 35px;
                  margin-top:-47px;
                  width: 100%;
                  height:auto;
              }
              #card-detail{
                margin-top:164px;
                margin-left:-93px;

            }
            #expiry-date {
                margin-left: 23px;
                margin-top: 38px;
              }
              #enter-date {
                border-radius: 15px;
                width: auto;
                height: auto;
                margin-left: -46px;
              }

             
             #cancel-card {
                border-radius: 15px;
                border: 1px solid #C4C4C4;
                width: auto;
                height: auto;
                color: #323232;
                margin-top: 25px;
                /* margin-left: -90px; */
                font-size: 10px;
                margin-right: 23px;
              }
                #add-your-card{
                    border-radius: 15px;
                    /* border:1px solid #C4C4C4; */
                    background-color: #E53642;
                    font-size: 10px;
                    width:auto;
                    height:auto;
                    color:white;
                    margin-top:-53px;
                    margin-left:94px;
                }
                #dropdown-button1{
                    width:auto;
                    height:auto;
                    border-radius: 25px;
                    padding:15px;
                    margin-left: 43px;
                    font-size: 15px;
                }
                #list-ordered-item{
                    margin-left:-11px;
                    
                }
                #amzn-img{
                    margin-left:61px;
                }
                #amzn-nukid{
                    width:65%;
                    height:auto;
                    border-radius: 40px;
                    padding:18px;
                    
                }
                #my-acc-btn{
                    width: 124%;
                    height: auto;
                    border-radius: 40px;
                    padding: 18px;
                    margin-left: -10px;
                }
                #acc-edit{
                    border-radius: 15px;
                    width:23%;
                    height:auto;
                    margin-left:183px;
                }
                #acc-edit1 {
                    border-radius: 15px;
                    width: 36%;
                    height: auto;
                    margin-left: 155px;
                  }
                #acc-title-edit{
                    border-radius:15px;
                    width:132%;
                    height:auto;
                }
                #acc-title-edit{
                    border-radius:15px;
                    width:86%;
                    height:auto;
                }
                #points-in-acc{
                    margin-left:28px;
                }
                #pts-confrm-btn{
                    border-radius:15px;
                    padding:5px;
                    margin-left:120px;
                }
                #Product-Details{
                    color: #000000;
                    font: normal normal 600 15px/25px Sofia Pro;
                    margin-left:-18px;
                }
                #Product-Details2{
                    color: #000000;
                    font: normal normal 600 15px/25px Sofia Pro;
                    
                }
                #Product-Details3{
                    color: #000000;
                    font: normal normal 600 15px/25px Sofia Pro;
                    margin-left:2px;
                    
                }
                #Product-Details4{
                    color: #000000;
                    font: normal normal 600 15px/25px Sofia Pro;
                    margin-left:2px;
                    
                }
                .zero-one2{
                    margin-left:91px;
                }
                #setting-cancel-btn{
                    border-radius: 34px;
                    padding: 10px;
                    /* width: 18%; */
                    /* height: auto; */
                margin-left:-14px; 
                }
                #setting-chng-pswd-btn{
                    border-radius: 34px;
                    padding: 10px;
                    /* width: 42%;
                    height: auto; */
                    /* margin-left:376px; */
                }
            }




/* tab view */
@media only screen and (min-width: 600px) 
 { 
      #banner-image{
    max-width: 100%;
    height:100%;
    object-fit: cover;
    position: relative;
   
}   
#get-offer{
    position: absolute;
top:150px;
left:50px;
width:10%;
}

#twenty-five{
    position: absolute;
    top:190px;
    left:80px;
    width:15%;
}
#extra{
    position: absolute;
    top:250px;
    left:150px; 
    width:15%;
}
#image-text{
    position: absolute;
    bottom: 32px;
    right: 65px;
    color:#FFFFFF;
}
/* dropdown button */
#dropdown-button{
    width:32%;
    height:auto;
    border-radius: 15px;
    padding:15px;
}
/* dropdown button */

.dropdown-menu{
    width:23%;
    height:auto;
    border-radius: 25px;
}
#firstName,#lastName{
    width:39%;
    height:auto;
    border-radius: 25px;
    margin-left: 2%;
    padding:15px;
}
#middleName, #Cancel{
    width:39%;
    height:auto;
    border-radius: 25px;
    margin-left: 43px;
    padding:15px;
}
#mailId,#phoneNo{
    width:82%;
    height:auto;
    border-radius: 25px;
    margin-left: 10%;
    padding:15px;
}
#phoneNo{
    width:82%;
    height:16%;
    border-radius: 25px;
    margin-left: 10%;
    padding:15px;
}
#password1,#password2{
    width:82%;
    height:auto;
    border-radius: 25px;
    margin-left: 13%;
    padding:15px;
}
#eye-icon{
    width:82%;
    height:auto;
    border-radius: 25px;
    margin-left: -33px;
    padding:15px;   
}
 #togglePassword{
    margin-left: -10px;
} 
.checkbox{
    margin-left: 13%;
}

#boxcheck{
    margin-left: 114px;
    margin-top:-27px;
    font-size: 15px;
}
#click{
    margin-left: 55px;
    font-size: 15px;
}
#modal-verify{
    border-radius: 25px;
    width:67%;
    height:auto;
    margin-left: 89px;
}
#signUp{
    background-color: #FE3030;
    width:39%;
    height:auto;
    border-radius: 25px;
    margin-left: 2%;
    padding:15px;
}
#forgot{
    margin-left:288px;
}
#no-account{
    margin-left:259px; 
}

#modal-Guest{
    border:1px solid #FE3030;
    color:#FE3030;
    border-radius: 25px;
    width:91%;
    height:auto;
    margin-left:27px;
    }
    
    #modal-verify{
        border-radius: 25px;
        width:66%;
        height:auto;
        margin-left:96px;
    }
    #sign{
        margin-left:360px;
        text-decoration: none;
    }
   
    #shop-now-btn{
        background-color: #FE3030;
        width:39%;
        height:auto;
        border-radius: 25px;
        margin-left: 19%;
        padding:15px;
    }
   
    #add-to-bag-btn{
        width:39%;
        height:auto;
        border-radius: 25px;
        margin-left: 43px;
        padding:15px;
    }
  
     /* navbar-profile */
   /* #charlie{
    width:33%;
    height:auto;
} */
#charlie{
    width:150%;
    height:auto;
    }
    #cart{
        margin-right:10px;        
        margin-top:5px;
        margin-left:4px;
        width:100%;
        height:auto;
        }
        #charlie{
            width:30px;
            height:auto;
            margin-left:10px;
            }
            #name{
                font-size: 10px;
                margin-left:2px;
            }

            /* shopping page */
            #delete{
                border-radius: 20px;
                background-color: transparent;
            }
            #save-for-later{
                margin-left: -8px;
                border-radius: 20px;
                background-color: transparent;
            }
            #quantity{
                margin-left:-11px;
            }
            #subtotal{
                color:#0D0D0C;
                margin-left: 302px;
            }
            /* shopping card */
            .shopping-card{
                width: 8rem;
                height:auto;
            }
            #modal-id1{
                border-radius: 25px;
                color: #323232;
                opacity: 80%;
                margin-left:0px;
                /* width:40%;
                height:auto; */
            }
            #forgot1{
                margin-left:234px;
            }
            #modal-login1{
                border-radius: 25px;
                width:100%;
                height:auto;
                margin-left:4px;
            }
            #no-account1{
                margin-left:212px; 
            }
            hr{
                background-color: #000000;
                border:5px;
                width:88%;
                margin-left: 32px;
                height: auto;
            }
            #sign1{
                margin-left:300px;
                text-decoration: none;
            }
            #cart{
                /* margin-right:10px;        
                margin-top:-9px;
                margin-left:4px; */
                width:78%;
                height:auto;
                }
                #Sandra-Rose{
                    margin-top:14px;
                    margin-left:-23px;
                }
                .zero-seven{
                    /* font-size: 10px; */
                    margin-top:23px;
                    margin-left:10px;
                }
                #another-payment-method{
                    margin-left:-134px;
                }
                #expires-on{
                    font-size: 23px;
                }
                #product-detail{
                    border: 1px solid #3232324D;
                }
                #product-detail2{
                   margin-left:-67px;
                }
                #product-detail4{
                    margin-left:-67px;
                 }
                #enter-number{
                    border-radius: 15px;
                    width:100px;
                    height:auto;
                    margin-left:0px;
                }
                #enter-number2{
                    border-radius: 15px;
                    width:auto;
                    height:auto;
                    margin-left:0px;
                }
                #enter-name{
                    border-radius: 15px;
                    width:114px;
                    height:auto;
                    margin-left:0px;
                }
                #first-radio{
                    margin-left:-16px;
                }
                #visa-img{
                    margin-left: 56px;
                      margin-top:-55px;
                  }
                  #card-detail{
                    margin-top:37px;

                }
                #expiry-date {
                    margin-left: -167px;
                    margin-top: 57px;
                  }
                  #enter-date{
                    border-radius: 15px;
                    width: 630%;
                    height: auto;
                    margin-left: 0px;
                 }
                 #cancel-card {
                    border-radius: 15px;
                    border: 1px solid #C4C4C4;
                    width: auto;
                    height: auto;
                    color: #323232;
                    margin-top: 25px;
                    /* margin-left: -90px; */
                    font-size: 10px;
                    margin-right: 23px;
                  }
                    #add-your-card{
                        border-radius: 15px;
                        /* border:1px solid #C4C4C4; */
                        background-color: #E53642;
                        font-size: 10px;
                        width:auto;
                        height:auto;
                        color:white;
                        margin-top:-53px;
                        margin-left:83px;
                    }
                    #dropdown-button1{
                        width:auto;
                        height:auto;
                        border-radius: 25px;
                        padding:15px;
                        margin-left: 43px;
                        font-size: 15px;
                    }
                    #payment-modal{
                        margin-left:48px;
                      }
                      #list-ordered-item{
                        margin-left:-54px;
                        
                    }
                    #modal-footer{
                        margin-left:-10px;
                        font: normal normal normal 15px/20px Arial;
                    }
                    #navbar{
 
                        margin-left:24%;
                    }
                    #amzn-img{
                        margin-left:30px;
                    }
                    #amzn-login{
                        color:#0D0D0C;
                        margin-left:43px;
                    }
                    #amzn-nukid{
                        width:65%;
                        height:auto;
                        border-radius: 40px;
                        padding:18px;
                        margin-left:31px;
                    }

#amzn-forgot{
    margin-left:71px;
    color: #323232;
}
#amzn-noacc{
    margin-left:51px;
    color:#323232;
}
#amzn-sign{
    margin-left:161px;
}
#my-acc-btn{
    width: 78%;
    height: auto;
    border-radius: 40px;
    padding: 18px;
    margin-left: -10px;
}
#acc-edit{
    border-radius: 15px;
    width:16%;
    height:auto;
    margin-left:332px;
}
#acc-edit1 {
    border-radius: 15px;
    width: 38%;
    height: auto;
    margin-left: 226px;
    padding: 15px;
  }
#acc-title-edit{
    border-radius:15px;

}
#points-in-acc{
    margin-left:-25px;
}
#points-in-acc{
    margin-left:0px;
}
#pts-confrm-btn{
    border-radius:15px;
    padding:5px;
    margin-left:306px;
}
#Product-Details{
    color: #000000;
    font: normal normal 600 20px/25px Sofia Pro;
    margin-left:-18px;
}
#Product-Details2{
    color: #000000;
    font: normal normal 600 20px/25px Sofia Pro;
    margin-left:-18px;
}
#Product-Details3{
    color: #000000;
    font: normal normal 600 20px/25px Sofia Pro;
    margin-left:-18px;
}
#Product-Details4{
    color: #000000;
    font: normal normal 600 20px/25px Sofia Pro;
    margin-left:-18px;
}
.zero-one2{
    margin-left:25px;
}
#setting-cancel-btn{
    border-radius: 34px;
    padding: 10px;
    width: 18%;
    height: auto;
    margin-left:162px;
}
#setting-chng-pswd-btn{
    border-radius: 34px;
    padding: 10px;
    width: 42%;
    height: auto;
    /* margin-left:376px; */
}
}  

/* desktop view */
@media only screen and (min-width: 992px){

#get-offer{
    position: absolute;
    top:250px;
    left:100px;
    width:8%;
    /* width:auto;
    height: 100%  ; */
}
#twenty-five{
    position: absolute;
    top:320px;
    left:100px;
    width:15%;
}
#extra{
    position: absolute;
    top:400px;
    left:280px; 
}
#image-text{
    position: absolute;
    bottom: 50px;
    right: 100px;
    color:#FFFFFF;
   font-size: 50px;

}
/* dropdown button */
#dropdown-button{
    width:25%;
    height:auto;
    border-radius: 25px;
    padding:15px;
    margin-left: 161px;
    font-size: 15px;
}
.dropdown-menu{
    width:23%;
    height:auto;
    border-radius: 25px;
}
#firstName, #lastName{
    width:25%;
    height:auto;
    border-radius: 25px;
    margin-left: 2%;
    padding:15px;
}
#middleName, #Cancel{
    width:25%;
    height:auto;
    border-radius: 25px;
    margin-left: 161px;
    padding:15px;
}
 #mailId,#phoneNo{
    width:53%;
    height:auto;
    border-radius: 25px;
    margin-left: 25%;
    padding:15px;
} 
#phoneNumber{
    width:53%;
    height:auto;
    border-radius: 50px;
    margin-left: 25%;
    padding:15px;
} 
/* #prepend{
    width:22%;
    height:auto;
} */
/* #flagImage{
    width:100%;
    height:auto;
    margin-left:25%;
} */
#Indiaflag{
    width:53%;
    height:auto;

}
/* #Phone{
    width:100%;
    height:auto;
} */
#password1,#password2{
    width:53%;
    height:auto;
    border-radius: 25px;
    margin-left: 25%;
    padding:15px;
}
#eye-icon{
    width:53%;
    height:auto;
    border-radius: 25px;
    margin-left: -33px;
    padding:15px;   
}
 #togglePassword{
    margin-left: -10px;
} 
.checkbox{
    margin-left: 25%;
}

#boxcheck{
    margin-left: 191px;
    margin-top:-27px;
    font-size: 15px;
}
#click{
    margin-left: 170px;
    font-size: 15px;
}
#signUp{
    background-color: #FE3030;
    width:25%;
    height:auto;
    border-radius: 25px;
    margin-left: 2%;
    padding:15px;
}


/* first pge modal */
#forgot{
    margin-left:270px;
}
#no-account{
    margin-left:247px; 
}

#modal4-nukeimg{
    margin-left:0px;
}
#modal-Guest{
    border:1px solid #FE3030;
    color:#FE3030;
    border-radius: 25px;
    width:40%;
    height:auto;
    margin-left:341px;
    }
   
    #modal-verify{
        border-radius: 25px;
        width:30%;
        height:auto;
        margin-left:395px;
    }
    #sign{
        margin-left:346px;
        text-decoration: none;
    }
 
    #forgot-password{
        color: #0D0D0C;
        font-family: Liberation Sans;
        /* margin-left:270px; */
    }
  
    /* modal banner */
    #add-to-bag-btn{
        width:25%;
        height:auto;
        border-radius: 25px;
        margin-left: 161px;
        padding:15px;
    }
  
    #shop-now-btn{
        background-color: #FE3030;
        width:25%;
        height:auto;
        border-radius: 25px;
        margin-left: 2%;
        padding:15px;
    }
    
     /* navbar-profile */
     #charlie{
        width:30%;
        height:auto;
        margin-left:10px;
        }
    #cart{
        margin-right:10px;        
        margin-top:-9px;
        margin-left:4px;
        width:78%;
        height:auto;
        }
        #name{
            font-size: 15px;
            margin-top:0px;
            margin-left: 0px;
        }
         /* shopping page */
        #delete{
            border-radius: 20px;
            background-color: transparent;
        }
        #save-for-later{
            border-radius: 20px;
            background-color: transparent;
            margin-left:64px;
            font-size:15px;
            
        }
        #subtotal{
            color:#0D0D0C;
            margin-left: 597px;
        }
        #shoping-card{
            margin-left: 0px;
        }
        /* shopping page */

        /* shoppin card */
        .shopping-card{
            width: 12rem;
            height:auto;
        }
        /* guest modal */
        #border2{
            margin-left:290px;
        }
        #guest-modal-login{
            margin-left:290px;
            color: #0D0D0C;
            font-family: Liberation Sans;
        }
        #modal-id1{
            border-radius: 25px;
            color: #323232;
            opacity: 80%;
            margin-left:290px;
            width:40%;
            height:auto;
        }
        #forgot1{
            margin-left:529px;
        }
        #modal-login1{
            border-radius: 25px;
            width:40%;
            height:auto;
            margin-left:285px;
        }
        #no-account1{
            margin-left:520px; 
        }
        #sign1{
            margin-left:602px;
            text-decoration: none;
        }
        hr{
            background-color: #000000;
            border:5px;
            width:40%;
            margin-left: 342px;
            height: auto;
        }
        #Sandra-Rose{
            margin-top:0px;
            margin-left:-43px;
        }
        #float-start{
          
            margin-left:-40px;
        }
        
        .zero-seven{
            /* font-size: 10px; */
            margin-left:10px;
            margin-top:0px;
        }
        #another-payment-method{
            margin-left:-278px;
        }
        #expires-on{
            font-size: 18px;
        }
        #product-detail{
            border: 1px solid #3232324D;
            margin-left: 0px;
        }
        #product-detail2{
            margin-left:0px;
         }
         #enter-number{
            border-radius: 15px;
            width:66%;
            height:auto;
            margin-left:0px;
        }
        #enter-number2{
            border-radius: 15px;
            width:66%;
            height:auto;
            margin-left:0px;
        }
        #enter-name{
            border-radius: 15px;
            width:117%;
            height:auto;
            margin-left:0px;
        }
        #first-radio{
            margin-left:-20px;
        }
        #visa-img{
            margin-left: 52px;
              margin-top:-53px;
          }
          #card-detail{
              margin:0px;
          }
          #expiry-date{
              margin-left:183px;
              margin-top:-62px;
              margin-right: 100%;
          }
          #enter-date{
            border-radius: 15px;
            width: 117%;
            height: auto;
            margin-left: 0px;
         }
         #cancel-card {
            border-radius: 15px;
            border: 1px solid #C4C4C4;
            width: 68%;
            height: auto;
            color: #323232;
            margin-top: 25px;
            margin-left: -90px;
            font-size: 10px;
            margin-right: 23px;
          }
            #add-your-card{
                border-radius: 15px;
                /* border:1px solid #C4C4C4; */
                background-color: #E53642;
                font-size: 10px;
                width:auto;
                height:auto;
                color:white;
                margin-top:21px;
                margin-left:-18px;
            }
            #dropdown-button1{
                width:39%;
                height:auto;
                border-radius: 25px;
                padding:15px;
                margin-left: 43px;
                font-size: 15px;
            }
            #payment-modal{
                margin-left:334px;
              }
              #list-ordered-item{
                margin-left:-111px;
                
            }
            #modal-footer{
                margin-left:-151px;
                font: normal normal normal 12px/9px Arial;
            }
            #navbar{
 
                margin-left:40%;
            }
            #amzn-img{
                margin-left:147px;
            }
            #amzn-login{
                color:#0D0D0C;
                margin-left:104px;
            }
            #amzn-nukid{
                width:65%;
                height:auto;
                border-radius: 40px;
                padding:18px;
                margin-left:97px;
            }

#amzn-forgot{
    margin-left:300px;
    color: #323232;
}
#amzn-noacc{
    margin-left:274px;
    color:#323232;
}
#amzn-sign{
    margin-left:388px;
}
#my-acc-btn{
    width: 69%;
    height: auto;
    border-radius: 40px;
    padding: 18px;
    margin-left: -17px;
}
#acc-edit{
    border-radius: 15px;
    width:16%;
    height:auto;
    margin-left: 574px;
}
#acc-edit1{
    border-radius: 38px;
    width:24%;
    height:auto;
    margin-left: 497px;
    padding:15px;
    margin-top:-38px;
}
#acc-edit2{
    border-radius: 38px;
    width:24%;
    height:auto;
    margin-left: 259px;
    padding:15px;
    margin-top:0px;

}
#guest{
    width: 35%;
    height: auto;
    margin-left: 10px;
  }
  #acc-title-edit{
    border-radius:15px;
    width:100%;
    height:auto;
}
#points-in-acc{
    margin-left:-25px;
}
#pts-confrm-btn{
    border-radius:15px;
    padding:5px;
    margin-left:582px;
}
#Product-Details{
    color: #000000;
    font: normal normal 600 20px/25px Sofia Pro;
    margin-left:-18px;
}
#Product-Details2{
    color: #000000;
    font: normal normal 600 20px/25px Sofia Pro;
    margin-left:-18px;
}
#Product-Details3{
    color: #000000;
    font: normal normal 600 20px/25px Sofia Pro;
    margin-left:-18px;
}
#Product-Details4{
    color: #000000;
    font: normal normal 600 16px/25px Sofia Pro;
    margin-left:-14px;
}
.zero-one2{
    margin-left:91px;
}
#setting-cancel-btn{
    border-radius: 34px;
    padding: 10px;
    width: 18%;
    height: auto;
    margin-left:428px;
}
#setting-chng-pswd-btn{
    border-radius: 34px;
    padding: 10px;
    width: 23%;
    height: auto;
    /* margin-left:376px; */
}
}
/* desktop view end */





/* carousel indicators */
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 25px;
    height: 7px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(241, 18, 18);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 30px;
  }
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 1206px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
  }
/* carousel indicators */
/* banner */



/* most popular */
.carousel {
    background: #EEE;
  }
  
  .carousel-cell {
    margin-right: 10px;
    border-radius: 5px;
  }

 
   #most-popular{
      background-color: #000000;
  } 

  #popular-carousel{
      background-color: #000000; 
    } 

  #heading-mostpopular{
    margin-left:38px;
  }
  /* most popular */

 /* recomended-product */
#recomended-product{
    background-color: #FE3030;
}
#recomended-carousel{
    background-color: #FE3030;
}
.second-carousel{
    margin-top:280px;
    font-size: 40px;
}
 /* recomended-product */

 /* offers and deals */

#heading-offers{
    background-color: #000000;
}
#offers-deals{
    margin-left:38px;
}
 /* offers and deals */

 /* footer */
#footer{
    background-color: #1E1E1E;
}

#footer-2{
    background-color: rgba(0, 0, 0, 0.2);
    width:100%;
    height:100%;
}
#footer-3{
    width:100%;
    height:100%;
    background-color: #000000;
}

  /* footer */


  /* split screen */
  .left-image{
      /* background-color: #FE3030; */
      width:100%;
      height:auto;
      flex: wrap;
      margin-left: -12px;
  }
  .left-color{
      background-color: #FE3030;
      width:100%;
      height: auto;
  }

  #sign-up{
      color: #0D0D0C;
  }

  .dropdown{
      align-items: center;
      background-color: transparent;
   
  }
  #mr{
      border-bottom: 1px solid black;
  }
  #mrs{
    border-bottom: 1px solid black; 
  }
 
/* #dropdown{
    margin-left: 160px;
} */

.form-control::placeholder {
    color: #0f1011;
    opacity: 1;
  }
  /* input[type="phoneNo"]::placeholder {
    background-image:url("assets/2/Component\ 32\ –\ 2.svg");
    background-repeat: no-repeat;
    display: inline-grid;
   justify-items: center;
   margin-left:20px;
   
   } */

   input[type="checkbox"] {
    accent-color: #FE3030;
}
  /* split screen */

  /* modal */

  .modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid transparent;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
  }
#modal-otp{
    border-radius: 25px;
}

#border{
    border-bottom: 1px solid black !important;
    margin-left: 50px;
}
#border1{
    /* border-bottom: 1px solid black !important; */
    margin-left: 50px;
}

.text-danger:focus, a.text-danger:hover {
    color: #a71d2a !important;
    text-decoration: none !important;
  }
  #btn-continue-as-guest{
    color: #a71d2a;
    text-decoration: none;
  }
 
/* #otp-time{

} */
    /* modal */

    /* first page login modal */
    #modal-id{
        border-radius: 25px;
        color: #323232;
        opacity: 80%;
    }
   
    #modal-login{
        border-radius: 25px;
        width:99%;
        height:auto;
        /* margin-left:2px; */
    }
   
   #reset-email{
       color:#0D0D0C;
   }
 
   #modal-five-header{
       color: #1C1C1A;
   }
  
   #fifty-three{
       font-size: 20px;
   }
 
   #cart-button{
       width:30%;
       height:auto;
       margin-left: 98px;
   }
  
   #cart{
    color: white;
    
}

      /* first page login modal */


      /* shopping page */

#shopping-page{
 border: 10px solid #F3F3F3;
}
#shoping-card{
    border: 10px solid #F3F3F3; 
}

#fiftyThree{
    color:#6A6A6A;
}

#food-truck{
    font-size: 18px;
}
#Continue{
    border-radius: 15px;
    width:100%;
    height:auto;
}
#Enter-Coupon-Code{
    border-radius: 15px;
    width:100%;
    height:auto;
    border:1px solid #C4C4C4;
}
#move-to-cart{
border: 1px solid #323232;
border-radius: 15px;
width: 100%;
height:auto;
}


/* guest shopping page */
#guest-shopping-page{
    margin-bottom: 400px;
    /* background-color: #F3F3F3; */
}
#your-saved{
    margin-left:-38px;
    /* font-size:12px; */
    font-family: Sofia Pro;
}
/* #inside-border{
    border:1px solid black;
} */

      /* shopping page */

      /* payment page */
      /* radio button */

   
    
      
      input[type="radio"] {
        accent-color: #FE3030;
    }
    
   
  .card-number{
      color: #7C7B7B;
      font-size: 10px;
      margin-top:-22px;
  }
 #nameoncard{
     margin-left: 33px;
 }

 .form-control::placeholder {
    color: #0f1011;
    opacity: 1;
  }
  #final-details{
    color: #393939;
  }
  #order-details{
    margin-left:107px;
  }
  #sold-by{
    color:#000000;
  }
#payment-method{
    color:#000000;
    font: normal normal 600 20px/25px Sofia Pro;
}
#profile-dropdown{
    border-radius: 15px;
}

#acc-info{
background-color: #F3F3F3;

}
#title-acc-setting{
    font: normal normal 300 12px/19px Sofia Pro;
     color:  #7C7B7B;
}
#acc-title{
    font: normal normal normal 14px/21px Sofia Pro;
}
#acc-phno{
    font-size: 10px;
}
#margn-btm{
    margin-bottom:300px;
}
#edit-date{
    border-radius: 15px;
}
#acc-phnum{
    border-radius: 15px;
}
#acc-mail{
   
    border-radius: 15px;
}
#enter-cntry{
    border-radius:15px;
    border:1px solid #E8E8E8;
    width:100%;
    height:auto;
}
#acc-cntry-entry{
    font: normal normal normal 14px/21px Sofia Pro;
    border:1px solid #E8E8E8;
    border-radius:15px;
    width:100%;
    height:auto;
    padding:10px;
}
#reedem-btn{
    border-radius: 15px;

}

#order-detail-on-transaction{
    border: 1px solid #3232324D;
    opacity:1;
}
#order-detail{
    font: normal normal normal 16px/23px Sofia Pro;
}
#order-status{
    color:#00A100;
}


#food-trck-detail{
    color:#000000;
    font: normal normal normal 19px/12px Sofia Pro;
}
#details-of-product{
margin-left:-60px;
}
#transaction-bill{
    margin-left:-56px;
}
.trans-id{
   margin-left:-18px;
}
.zero-one{
    margin-left:81px;
}
.zero-one1{
    margin-left:115px;
}

#trans-detail-img{
    width:100%;
    height:auto;
}

#buy-it-agn-btn{
    border:1px solid red;
border-radius:15px
}
#dwnd-invce{
    border-radius:15px
}
#trans-det{
    border-radius: 15px;
}
#trans-btns{
    margin-left:112px;
}

#setting-btns{
    margin-top:233px;
    /* margin-left:10px; */
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: auto;
    height: auto;
}
.first-page-card{
    background-color:#1E1E1E;
} 
